.tile {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 30pt;
}

#tb {
    text-align: center;
    margin: 0px;
    vertical-align: middle;
}

.leftBorder{
    border-left: 3px solid black;
}
.rightBorder{
    border-right: 3px solid black;
}
.bottomBorder{
    border-bottom: 3px solid black;
}
.topBorder{
    border-top: 3px solid black;
}


#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 630px;
    height: 630px;
}